/* Header CSS Start */

/* Carousel Item with Black Overlay */
.carousel-item {
    position: relative;
    height: calc(100vh - 56px); /* Full viewport height minus navbar height */
    background-size: cover;
    background-position: center;
}

.carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 50% black overlay */
    z-index: 1; /* Ensure overlay is above the image */
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
    z-index: 2; /* Ensure text is above the overlay */
    background: transparent; /* Transparent background */
}

/* Header Top Navbar */
.header-navbar .navbar-text,
.header-navbar .nav-link {
    color: black; /* Black font color */
}

.header-navbar .navbar-brand img {
    filter: brightness(0); /* Make logo black */
}

.header-navbar .navbar-nav,
.header-navbar .navbar-text {
    display: flex;
    align-items: center; /* Vertically align text and icons */
}

/* Header Main Navbar */
.header-main-navbar {
    margin: 0 2.5%;
    background-color: white;
}

.bg-transparent {
    background-color: transparent !important;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}
/* Header CSS Ends */

